# Example config file for dtn7 daemon
debug = true
nodeid = "node1"
beacon-period = true

routing = "epidemic"
webport = 3000

workdir = "/tmp/dtn7"

db = "mem"

[core]
# the janitor is responsible for cleaning the bundle buffer
# and schedule resubmissions.
# a value of 0 deactives the janitor
janitor = "10s"


[discovery]
# interval of 0 deactives discovery service
interval = "2s"
peer-timeout = "20s"

[convergencylayers]

cla.0.id = "mtcp"
cla.0.port = 16163

cla.1.id = "dummy"

[services]

service.0.tag = 191
service.0.payload = "75"

service.1.tag = 127
service.1.payload = "25.31 73.12"

[statics]
peers = [
    "mtcp://192.168.2.101/testnode",
    "mtcp://192.168.2.11/gw1",
    "mtcp://127.0.0.1:2342/localcopynode",
]

[endpoints]
# local endpoints are always reachable under dtn://<nodeid>/<localname>
local.0 = "incoming"
local.1 = "null"

group.0 = "dtn://hometown/weather" # atm ignored
